# Compile this file with:
#   pip-compile --output-file=requirements.dev.txt requirements.dev.in
#
# Then install with
#   pip install -r requirements.dev.txt

black
ipykernel
mypy
nbdev
pip-tools

# The deps below are only required to run some of the examples in the
# test case notebooks, but not for the core of beetroot.
matplotlib
